
section {
	display: relative;
}

div.botao {
	width: 33.333333%;
	height: 300px;
	float: left;
	
	span {
		font-size: 30px;
	}
}

#vermelho {
   	background-color: red;
}

#amarelo {
    background-color: yellow;
}

#verde {
    background-color: green;
}