body {
	margin: 0;
	padding: 0;
}

div.botao {
	width: 33%;
	height: 300px;
	display: inline-table;
	vertical-align: top;
}

div.botao span {
	font-size: 30px;
}

#vermelho {
   	background-color: red;
}

#amarelo {
    background-color: yellow;
}

#verde {
    background-color: green;
}